@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap");

$color_blue_900: #0b0d17;
$color_blue_300: #d0d6f9;
$color_white: #ffffff;
$color_gray: #979797;

$font_family_heading: "Bellefair";
$font_family_sub_heading: "Barlow Condensed";
$font_family_body: "Barlow";

$spacing_1600: 12.8rem;
$spacing_1200: 9.6rem;
$spacing_1000: 8rem;
$spacing_800: 6.4rem;
$spacing_600: 4.8rem;
$spacing_500: 4rem;
$spacing_400: 3.2rem;
$spacing_300: 2.4rem;
$spacing_200: 1.6rem;
$spacing_150: 1.2rem;
$spacing_100: 8px;
$spacing_50: 4px;
$spacing_25: 2px;

$screen_mobile: 30em;
$screen_hide_nav: 47.75em;
$screen_change_heading_size: 42.5em;
$screen_tablet: 60em;
$screen_change_layout_tech: 62.125em;
$screen_laptop: 64em;
$screen_desktop: 75em;
$screen_change_heading_size_tech: 81.25em;
$screen_desktop_large: 90em;
$screen_extra_large: 112.5em;
